@font-face {
    font-family: 'Belligerent-Madness';
    src:url('/fonts/Belligerent-Madness.ttf.woff') format('woff'),
        url('/fonts/Belligerent-Madness.ttf.svg#Belligerent-Madness') format('svg'),
        url('/fonts/Belligerent-Madness.ttf.eot'),
        url('/fonts/Belligerent-Madness.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.testFont,
.nav-link {
    font-family: 'Belligerent-Madness';
}