@font-face {
  font-family: "Belligerent-Madness";
  src: url("/front/assets/fonts/Belligerent-Madness.ttf.woff") format("woff"),
    url("/front/assets/fonts/Belligerent-Madness.ttf.svg#Belligerent-Madness")
      format("svg"),
    url("/front/assets/fonts/Belligerent-Madness.ttf.eot"),
    url("/front/assets/fonts/Belligerent-Madness.ttf.eot?#iefix")
      format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

.title-font,
.nav-link {
  font-family: "Belligerent-Madness";
}

.cameras,
.card-title,
.card-text {
  display: flex;
  justify-content: center;
  text-align: center;
}

.page-header {
  margin-bottom: 3rem;
}

.imgProducts {
  width: 18rem;
  height: 12rem;
}

.page-footer {
  margin-top: 3rem;
}

a:link {
  cursor: pointer;
}

.card {
  width: 18rem;
}

a.card {
  text-decoration: none;
  color: black;
}

.brand-logo {
  width: 4rem;
}

.full-card {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img-card {
  display: flex;
  flex-direction: row;
  width: 15rem;
  height: 15rem;
}

.full-card-body {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  width: 10rem;
  margin: auto;
}

.product,
.price,
.quantity {
  text-align: center;
}

.head-list {
  border-bottom: #eac3d7 solid 3px;
  padding-bottom: 1rem;
}

.card-cart {
  margin: 1rem 0;
}

.name-item,
.price-item,
.quantity-item,
.fa-times-circle {
  margin-top: 2rem;
}

.del-button {
  height: 2rem;
  margin-top: 2rem;
}

.form-container {
  margin-top: 3rem;
}

.validate-button,
.notValide {
  width: auto;
  margin: auto;
}

.clear-cart {
  display: block;
  margin: auto;
  margin-bottom: 3rem;
}

.badge {
  position: absolute;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: #dd3251;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  display: inline-block;
  min-width: 10px;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
}

.message {
  text-align: center;
  margin-bottom: 2rem;
}

.back-button {
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.empty-cart {
  text-align: center;
}

#formDisabled {
  display: block;
}

#messageEnabled {
  display: none;
}

.add-product-btn {
  width: auto;
  margin: 2rem auto;
}

.products-presentation {
  width: 100%;
}

#validate {
  display: none;
}

#inCart {
  display: none;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 1px solid black;
}

.total {
    justify-content: center;
    margin: 2rem 0;
    font-weight: bold;
}

.confirmationMessage {
  text-align: center;
}