@font-face {
    font-family: 'Belligerent-Madness';
    src:url('/front/assets/fonts/Belligerent-Madness.ttf.woff') format('woff'),
        url('/front/assets/fonts/Belligerent-Madness.ttf.svg#Belligerent-Madness') format('svg'),
        url('/front/assets/fonts/Belligerent-Madness.ttf.eot'),
        url('/front/assets/fonts/Belligerent-Madness.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.title-font,
.nav-link {
    font-family: 'Belligerent-Madness';
}

.cameras,
.card-title,
.card-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-header {
    margin-bottom: 3rem;
}

.imgProducts {
    width: 18rem;
    height: 12rem;
}

.page-footer {
    margin-top: 3rem;
}

a:link {
    cursor: pointer;
}

.card {
    width: 18rem;
}

a.card {
    text-decoration: none;
    color: black;
}

.brand-logo {
    width: 4rem;
}
