@font-face {
    font-family: 'Belligerent-Madness';
    src:url('/front/assets/fonts/Belligerent-Madness.ttf.woff') format('woff'),
        url('/front/assets/fonts/Belligerent-Madness.ttf.svg#Belligerent-Madness') format('svg'),
        url('/front/assets/fonts/Belligerent-Madness.ttf.eot'),
        url('/front/assets/fonts/Belligerent-Madness.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.title-font,
.nav-link {
    font-family: 'Belligerent-Madness';
}

.cameras,
.card-title,
.card-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.page-header {
    margin-bottom: 3rem;
}

.imgProducts {
    width: 18rem;
    height: 12rem;
}

.page-footer {
    margin-top: 3rem;
}

a:link {
    cursor: pointer;
}

.card {
    width: 18rem;
}

a.card {
    text-decoration: none;
    color: black;
}

.brand-logo {
    width: 4rem;
}

.full-card {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img-card {
    display: flex;
    flex-direction: row;
    width: 40rem;
}

.full-card-body {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin-left: 5rem;
}

.btn-primary {
    width: 10rem;
    margin: auto;
}

.head-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: #f1e9f0 3px solid;
}

.cart-img {
    width: 10%;
    margin-bottom: 2rem;
}

.product-list {
    margin-bottom: 2rem;
    border-bottom: #f1e9f0 3px solid;
}

.product {
    margin-bottom: 1rem;
}

.name-item {
    margin-left: 3rem;
}

.price-item {
    margin-left: 8rem;
}

.quantity-item {
    margin-left: 18rem;
}

.total-item {
    margin-left: 20rem;
}

.basket-total-container {
    margin-left: 70%;
}

.total-price {
    margin-left: 1rem;
}